
body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #020b14;
    overflow-x:hidden;
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: #41484F;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: White;
}
body::-webkit-scrollbar-track {
    margin: 1vh;
}
#header{
    width: 100%;
    height: 10vh;
    background: #020b14;
    position: fixed;
    z-index: 1;
    display: table;
    vertical-align: middle;
    box-shadow: 0 5px 10px -5px white;
}
#name{
    color: white;
    font-size: 25px;
    margin-left: 10vh;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

}
#container{
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100vh; */
}
#logo{
    width: 70vh;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#team{
    display: flex;
    /* display: table; */
    padding-top: 4.5vh;
    padding-bottom: 4.5vh;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    height: 43vh;
    background: #020b14;
    overflow-x: scroll;
    /* white-space:nowrap; */
}
#team::-webkit-scrollbar {
    height: 7px;
    background-color: (1,1,1,0);
}
#team::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #434343;
}
#team::-webkit-scrollbar-track {
    margin: 4vh;
    margin-right: 5vh;
}
.person{
    display: Flex;
    text-align: justify;
    border-radius:25px;
    border-width: 10px;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    min-width: 70vh;
    height: 35vh;
    background:#aa8285;
    padding: 20px 20px 20px 20px;    
    overflow-y: scroll;
}
.person::-webkit-scrollbar {
    width: 7px;
    background-color: (1,1,1,0);
}
.person::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #434343;
}
.person::-webkit-scrollbar-track {
    margin: 4vh;
    margin-right: 5vh;
}
.info{
    display: inline;
    /* width: 100%; */
    margin: 0;
}
.headers{
    color: white;
    font-size: 30px;
    margin-left: 10vh;


}
.devider
{
    /* border-width: 2px; */
    display: table;
    vertical-align: middle;
    border-style: solid;
    width: 100%;
    height: 10vh;
    border-top-color: white;
    border-bottom-color: white;
    /* box-shadow : 0px 22px 30px 7px  #ff00de ; */
}
.photo{
    width: 20vh;
    height: 20vh;
    margin: 0 3vh 0 0;
    /*  */

}
#MainScreen{
    width: 100%;
    height: 100vh;
    background: url("../../resources/1620031964_3-phonoteka_org-p-fon-na-kompyuter-estetika-4.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

}
#users{
    
    /* border-radius:25px; */
    margin: 0vh 15vh;
    background: #aa8285;
    padding: 2.5vh 5vh;
}
.user{
    margin: 3vh 5vh;
    text-align: justify;
    min-height: 22vh;
}
.position{
    margin: 0;
    font-size: 30px;
}
.description{
    margin-top: 1vh;
}