body{
    max-width: 100%;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background: #E6E7E7;
}
#header{
    width: 100%;
    height: 10vh;
    background: #020b14;
    
    box-shadow: 0 5px 10px -5px black;
    display: table;
    vertical-align: middle;
}
#name{
    color: white;
    font-size: 25px;
    margin-left: 10vh;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

}

#main{
    width: 100%;
    height: 90vh;
}

#forms {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

#personal{
    padding: 8vh 0;
    text-align: center;
    width: 50%;
    margin-right: 5%;
    /* height: 90vh; */
    /*float:left*/
}
h2{
    margin-top: 0;
    margin-bottom: 6vh;
}

form {
    width: 100%;
}

.data{
    display: block;
    margin: 0 auto;
    margin-bottom: 2vh;
    height: 6vh;
    width: 100%;
    /*width: 60vh;*/
}

.data1{
    display: block;
    margin: 0 auto;
    margin-bottom: 2vh;
    height: 6.7vh;
    width: 102%;
    /*width: 60vh;*/
}
#account{
    padding: 8vh 0;
    text-align: center;
    width: 50%;
    margin-left: 5%;
    /* height: 90vh; */
    /*float:right;*/    
}
#button{
    min-width: 100%;
    /* height: 20vh; */
    text-align: center;
    /* padding-top: 15vh; */
    
    box-sizing:border-box;
}
.knopka {
    /* display: block; */
    max-height: 5vh;
    /* margin-bottom: 4vh; */
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10vh;
    width: 60vh;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: 0.5em 15em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
} 
  a.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
  a.knopka:active { background: rgb(152,15,0); } /* при нажатии */
.info{
    /* display: block;
    width: 100%; */
    font-size: 15px;
    margin-top: 3vh;
    color: black;

}
.log{
    color: black;
}